<div class="d-flex align-items-center justify-content-center">
  <h1>This is the expenses application</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <%= image_tag("expense.jpg", :alt => "expense feed") %>
</div>